<div class="header_section">
    <div class="container-fluid">
       <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="logo" href="#"><img src="../../assets/Antreek_logo.jpeg"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                   <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="/product">Product</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="blog.html">Blog</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="contact.html">Contact</a>
                </li>
             </ul>
             <form class="form-inline my-2 my-lg-0">
                <div class="login_menu">
                   <ul>
                      <li><a  href="/login" >Login</a></li>
                      <li><a href="#"><img src="../../assets/user-icon.png"></a></li>
                      <li><a href="/cart"><img src="../../assets/trolly-icon.png"></a></li>
                      <li><a href="/wishList"><img src="../../assets/wishlist.png"></a></li>
                      <li><a href="#"><img src="../../assets/search-icon.png"></a></li>
                   </ul>
                </div>
             </form>
          </div>
       </nav>
    </div>
 </div>