<app-header></app-header>

<div class="main">
    <div class="Cart-Container">
        <div class="Header">
            <h3 class="Heading">Shopping Cart</h3>
        </div>
        <div *ngFor="let i of cartDetails.products" class="Cart-Items">
            <div class="image-box">
                <img src="../../assets/Ethnic_Kurta_W.JPG" [ngStyle]="{height:'120px'}" />
            </div>
            <div class="about">
                <h1 class="title">{{i.name}}</h1>
                <h3 class="subtitle">{{i.size}}</h3>
            </div>
            <div class="counter">
                <div class="btn"><button (click)="increment(i.productID,i.cartID,i.size,i.count)">+</button></div>
                <app-modal #modal [modalBody]="'out of stock'"></app-modal>
                <div class="count">{{i.count}}</div>
                <div class="btn"><button (click)="decrement(i.count,i.cartID)">-</button></div>
            </div>
            <div class="prices">
                <div class="amount">Rs.{{i.price}}</div>
                <div class="save"><button (click)="addToWishList(i.name,i.price,i.cartID,i.productID,i.image,i.sizesAvailable)">Save for later</button></div>
                <app-modal #modal [modalBody]="'item got moved to wishList'"></app-modal>
            </div>
        </div>
        <hr>
        <div class="checkout">
            <div class="total">
                <div>
                    <div class="Subtotal">Sub-Total</div>
                    <div class="items">{{cartDetails.products.length}} items</div>
                </div>
                <div class="total-amount">{{totalPrice}}</div>
            </div>
            <button class="button">Checkout</button>
        </div>

    </div>
</div>
<app-modal #modal [modalBody]="'Item has been removed from your cart.'"></app-modal>
